*.swp
tmp
./*.rpm
*.iso
conf/mock/*.cfg
conf/pkglist.clip-repo
repos/yumcache/*
repodata
repos/*-repo/*
repos/*/last-updated
repos/clip-srpms/*
conf/yum/yum.conf
conf/yum/yum_all.conf
*CHECKSUM
CONFIG_AWS
*.pyc
*.pyo
packages/selinux-policy/selinux-policy/support/pyplate.pyc
packages/selinux-policy/selinux-policy/policy/modules/kernel/corenetwork.te
packages/selinux-policy/selinux-policy/policy/modules/kernel/corenetwork.if
packages/selinux-policy/selinux-policy/doc/policy.xml
packages/selinux-policy/selinux-policy/doc/global_booleans.xml
packages/selinux-policy/selinux-policy/doc/global_tunables.xml
