*.swp
tmp
./*.rpm
*.iso
conf/mock/*.cfg
conf/pkglist.clip-repo
repos/yumcache/*
repodata
repos/*-repo/*
repos/*/last-updated
repos/clip-srpms/*
conf/yum/yum.conf
conf/yum/yum_all.conf
*CHECKSUM
CONFIG_AWS
*.pyc
*.pyo
packages/selinux-policy/selinux-policy/support/pyplate.pyc
