# Copy this file to CONFIG_AWS and modify the contents.
# See Help-AWS.txt for help.
# Path to your AWS signing cert
#AWS_SIGNING_CERT=~/aws/cert.pem

# Path to your AWS private key
#AWS_PRIV_KEY=~/aws/key.pem

# Your AWS account ID
#AWS_ACCT_ID=123456789101

# Your AWS key ID
#AWS_ACCESS_KEY_ID=FOO

# Your AWS access key
#AWS_ACCESS_KEY=BAR

# Don't touch this line or the universe will come to an end.
export AWS_SIGNING_CERT AWS_PRIV_KEY AWS_ACCT_ID AWS_ACCESS_KEY_ID AWS_ACCESS_KEY
