# NOTE: this block enables the GUI package set.
# We will still remove the packages with "-foobar"
# outside this block, because explicitly adding
# a package overrides that. This allows us to
# keep everything tidy and try to remove as much as possible
# then cherry-pick packages to add *without* having
# go through the package list and un-remove the packages.
% if CONFIG_BUILD_ENABLE_GUI == "y":
@gnome-desktop --nodefaults
@x-window-system --nodefaults
@fonts --nodefaults
liberation-mono-fonts
liberation-fonts-common
gnu-free-mono-fonts
gnu-free-sans-fonts
gnu-free-serif-fonts
gnu-free-fonts-common

enchant
evolution-data-server
gdk-pixbuf2
gnome-icon-theme
gnome-online-accounts
gtk2
gtk3
hicolor-icon-theme
hunspell
hunspell-en
hunspell-en-GB
hunspell-en-US
selinux-policy-mcs-accountsd
selinux-policy-mcs-colord
selinux-policy-mcs-devicekit
selinux-policy-mcs-rtkit
selinux-policy-mcs-xserver
webkitgtk4

# the driver package pulls in unnecessary drivers
# update this list to include the packages explcitly
-xorg-x11-drivers
#xorg-x11-drv-ati
xorg-x11-drv-dummy
xorg-x11-drv-evdev
xorg-x11-drv-fbdev
#xorg-x11-drv-intel
# this is another ati driver
#xorg-x11-drv-nouveau
#xorg-x11-drv-qxl
# this is the traditional HID mouse device
# that provides scrolling support etc
xorg-x11-drv-synaptics
#xorg-x11-drv-v4l
#xorg-x11-drv-vesa
xorg-x11-drv-vmmouse
xorg-x11-drv-vmware
xorg-x11-drv-void
#xorg-x11-drv-wacom

# strip out some font sets to reduce footprint
# and just maybe mitigate rendering bugs
-cjkuni-uming-fonts
-lohit*
-nhn-nanum-gothic-fonts
-thai*
-wqy-zenhei-fonts
% endif
