# This file contains a base set of
# packages for bootstrapping a system.
# Anything else you need to add on your own.

@core

#


% if CONFIG_BUILD_UNCONFINED_TOOR == "y":
#selinux-policy-mcs-toor
% endif

acl
aide
at
attr
audit
authconfig
basesystem
bash
bind-libs
bind-utils
biosdevname
chkconfig
coreutils
cpio
cronie
cryptsetup
crontabs
curl
dbus
dhclient
device-mapper
dosfstools
dracut
dracut-fips
dracut-live
e2fsprogs
ethtool
filesystem
firewalld
glibc
grub2

% if float(OS_REL) >= 7.4:
grub2-efi-x64
grub2-efi-x64-cdboot
grub2-efi-x64-modules
grub2-tools-efi
shim-x64
% else:
grub2-efi
grub2-efi-modules
shim
% endif

grub2-tools
efibootmgr
harfbuzz
hostname
initscripts
iproute
iprutils
iptables
iptables-services
iputils
irqbalance
kbd
kernel
less
libsysfs
lvm2
m4
man-pages
man-pages-overrides
mdadm
ncurses
chrony
openscap
openscap-utils
openssh-clients
openssh-server
pango
parted
passwd
perl
plymouth
plymouth-system-theme
policycoreutils
policycoreutils-newrole
policycoreutils-python-utils
procps-ng
psmisc
rhnsd
rootfiles
rpm
rsyslog
ruby
scap-security-guide
setup
setools-console
shadow-utils
sudo
systemd
tar
tuned
util-linux
vim-minimal
virt-what
xfsprogs
yum
# this includes yum-config-manager which we use when fixing scap issues in kickstart/includes/fix-bad-scap
yum-utils

-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-addon-python
-abrt-cli
-abrt-console-notification
-abrt-dbus
-abrt-libs
-abrt-python
-abrt-gui
-abrt-desktop
-acpid
-adwaita-qt5
-alsa-utils
-anaconda
-anaconda-core
-anaconda-gui
-anaconda-widgets
-anaconda-tui
-avahi-ui-gtk3
-avahi
-avahi-gobject
-blktrace
-bridge-utils
-cheese
# CLIP isn't perfect. Its character flaws include a lack of empathy
-empathy
-enchant
-evince
-evince-libs
-evince-nautilus
-evolution-data-server
-festival
-festival-freebsoft-utils
-firewall-config
-firstboot
-file-roller-nautilus
-fprintd
-fprintd-pam
-gedit
-gdk-pixbuf2
-gnome-abrt
-gnome-boxes
-gnome-calculator
-gnome-classic-session
-gnome-clocks
-gnome-contacts
-gnome-disk-utility
-gnome-font-viewer
-gnome-getting-started-docs
-gnome-icon-theme
-gnome-initial-setup
-gnome-online-accounts
-gnome-packagekit
-gnome-packagekit-common
-gnome-packagekit-installer
-gnome-packagekit-updater
-gnome-python2-gnome
-gnome-python2-gnomevfs
-gnome-software
-gnome-screenshot
-gnome-system-log
-gnome-system-monitor
-gnome-terminal-nautilus
-gnome-tweak-tool
-gnome-user-docs
-gnome-vfs2
-gnome-weather
-grilo-plugins
-gspell
-gsound
-gtk2
-gtk3
-gvfs
-gvfs-afc
-gvfs-afp
-gvfs-archive
-gvfs-client
-gvfs-fuse
-gvfs-goa
-gvfs-gphoto2
-gvfs-mtp
-gvfs-smb
-hicolor-icon-theme
-highcontrast-qt5
-hunspell
-hunspell-en
-hunspell-en-GB
-hunspell-en-US
-initial-setup
-initial-setup-gui
-libreport
-libreport-anaconda
-libreport-cli
-libreport-gtk
-libreport-plugin-bugzilla
-libreport-plugin-mailx
-libreport-plugin-rhtsupport
-libreport-plugin-reportuploader
-libreport-plugin-ureport
-libreport-python
-libreport-rhel
-libreport-rhel-anaconda-bugzilla
-libreport-rhel-anaconda-uploader
-libreport-web
-libvirt-daemon-driver-interface
-libvirt-daemon-kvm
-liberation-mono-fonts
-liberation-sans-fonts
-liberation-serif-fonts
-libproxy-mozjs
-libsane-hpaio
-libreswaan
-mandb
-mlocate
-mtr
-nano
-NetworkManager-libreswan-gnome
-NetworkManager-libreswan
-NetworkManager-team
-nautilus-open-terminal
-nautilus
-nautilus-extensions
-netcf-libs
-orca
-PackageKit
-PackageKit-yum
-qgnomeplatform
-qt5-qtbase
-qt5-qtbase-common
-qt5-qtbase-gui
-Red_Hat_Enterprise_Linux-Release_Notes-7-en-US
-redhat-access-gui
-redhat-support-tool
-sane-backends
-sane-backends-drivers-scanners
-seahorse
-speech-dispatcher
-speech-dispatcher-python
-spice-vdagent
-teamd
-totem-nautilus
-ntsysv
-pinfo
-pm-utils
-postfix
-prelink
-psacct
-python-blivet
-rdate
-readahead
-rhnsd
-rhn-setup-gnome
-rhn-setup
selinux-policy-targeted
-setroubleshoot
-setserial
-setuptool
-strace
-subscription-manager
-subscription-manager-gui
-subscription-manager-initial-setup-addon
-sushi
-sysstat
-systemtap-runtime
-system-config-firewall-tui
-system-config-network-tui
-tcpdump
-totem
-traceroute
-udisks2
-libudisks2
-vconfig
-vinagre
-webkitgtk3
-webkitgtk4
-wget
-yelp
-yelp-libs
-yelp-xsl
-yum-rhn-plugin

# one or more of these firmware excludes was causing the live-iso
# to fail to build.  something about unable to find linux-firmware
# which is required by kernel-core.
#-aic94xx-firmware
#-alsa-firmware
#-alsa-tools-firmware
#-atmel-firmware
-b43-fwcutter
-b43-openfwwf
#-ipw2000-firmware
#-ipw2100-firmware
#-ipw2200-firmware
#-ivtv-firmware
#-iwl100-firmware
#-iwl1000-firmware
#-iwl105-firmware
#-iwl135-firmware
#-iwl2000-firmware
#-iwl2030-firmware
#-iwl3160-firmware
#-iwl3945-firmware
#-iwl4965-firmware
#-iwl5000-firmware
#-iwl5150-firmware
#-iwl6000-firmware
#-iwl6000g2a-firmware
#-iwl6000g2b-firmware
#-iwl6050-firmware
#-iwl7260-firmware
#-iwl7265-firmware
#-kernel-firmware
#-libertas-sd8787-firmware
#-libertas-usb8388-firmware
#-ql2200-firmware
#-ql23xx-firmware
#-ql2400-firmware
#-ql2500-firmware
#-rt61pci-firmware
#-rt73usb-firmware
#-xorg-x11-drv-ati-firmware
#-zd1211-firmware

