# This file contains a base set of
# packages for bootstrapping a system.
# Anything else you need to add on your own.

@core

#

acl
aide
at
attr
audit
authconfig
basesystem
bash
bind-libs
bind-utils
biosdevname
btrfs-progs
chkconfig
coolkey
coreutils
cpio
cronie
cryptsetup
crontabs
curl
dbus
dhclient
device-mapper
dmraid
dracut
dracut-fips
e2fsprogs
ethtool
filesystem
firewalld
glibc
grub2

% if float(OS_REL) >= 7.4:
grub2-efi-x64
grub2-efi-x64-cdboot
grub2-efi-x64-modules
grub2-tools-efi
shim-x64
% else:
grub2-efi
grub2-efi-modules
shim
% endif

grub2-tools
efibootmgr
hostname
initscripts
iproute
iprutils
iptables
iptables-services
iputils
irqbalance
kbd
kernel
kexec-tools
less
lvm2
m4
man-db
mdadm
ncurses
ntp
ntpdate
chrony
openscap
#openscap-content
openscap-utils
openssh-clients
openssh-server
pam_pkcs11
parted
passwd
perl
plymouth
plymouth-system-theme
policycoreutils
policycoreutils-newrole
policycoreutils-python
procps-ng
psmisc
rootfiles
rpm
rsyslog
ruby
scap-security-guide
screen
setup
setools-console
shadow-utils
sudo
systemd
tar
tuned
util-linux
vim-minimal
virt-what
xfsprogs
yum

-abrt-addon-ccpp
-abrt-addon-kerneloops
-abrt-addon-python
-abrt-cli
-abrt-console-notification
-abrt-dbus
-abrt-libs
-abrt-python
-acpid
-alsa-utils
-anaconda
-anaconda-core
-anaconda-gui
-anaconda-widgets
-anaconda-tui
-b43-fwcutter
-b43-openfwwf
-blktrace
-bridge-utils
dosfstools
-enchant
-fprintd
-fprintd-pam
-gdk-pixbuf2
-gnome-icon-theme
-gtk2
-gtk3
harfbuzz
-hicolor-icon-theme
-hunspell
-hunspell-en
-hunspell-en-GB
-hunspell-en-US
-libreport
-libreport-anaconda
-libreport-cli
-libreport-gtk
-libreport-plugin-bugzilla
-libreport-plugin-mailx
-libreport-plugin-rhtsupport
-libreport-plugin-reportuploader
-libreport-plugin-ureport
-libreport-python
-libreport-rhel-anaconda-bugzilla
-libreport-rhel-anaconda-uploader
-libreport-web
-man
-man-pages
-man-pages-overrides
-mandb
-mlocate
-mtr
-nano
-ntsysv
pango
-pinfo
-pm-utils
-postfix
-prelink
-psacct
-python-blivet
-rdate
-readahead
rhnsd
-selinux-policy-targeted
-setserial
-setuptool
-strace
-subscription-manager
-sysstat
-systemtap-runtime
-system-config-firewall-tui
-system-config-network-tui
-tcpdump
-traceroute
-vconfig
-wget
-yelp
-yelp-libs
-yelp-xsl
yum-rhn-plugin

-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-atmel-firmware
-ipw2000-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
-kernel-firmware
-libertas-sd8787-firmware
-libertas-usb8388-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

